body {
  background-color: #e8e9eb;
  font-family: "Open Sans";
  color: black;
}

/* Navbar style */
nav {
  background-color: #e0dfd5;
  border-bottom: #8e6c88 3px solid;
  box-shadow: 0px 5px 5px rgb(20, 20, 20, 0.2);
}
nav a {
  font-size: 150%;
  color: black;
}
nav a:hover {
  color: black;
  transform: scale(1.2);
}

.nav-icon {
  font-size: 160% !important;
}

/* Blog name */
#blogName {
  position: relative;
  min-height: 300px;
  background: url("../img/blog-name.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  border-bottom: #8e6c88 3px solid;
}

/* Blogs area */
#blogsArea {
}

/* Blog post */
.blog-post {
  color: #fff;
  background-color: #313638;
  border: #8e6c88 3px solid;
}
.blog-post h3 {
  font-size: 300%;
}
.blog-post p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
.card-footer {
  background-color: #e0dfd5;
  border-top: #8e6c88 2px solid;
}

.blockquote-footer {
  color: black;
  font-size: 120%;
}
/* Side area */
#sideArea {
  height: 500px;
}

/* Author info */
#authorInfo {
  font-size: 150%;
}

/* Search area */
.search-area {
  background-color: #e0dfd5;
  border: #8e6c88 3px solid;
}

/* Footer */
#mainFooter {
  border-top: #8e6c88 2px solid;
  background-color: #e0dfd5;
  font-size: 150%;
}

/* Utils */
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

hr {
  width: 100%;
  border: none;
  height: 3px;
  background-color: #333;
  border-radius: 15px;
}
